* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap');

:root {
    --background-white: #F8FAFC;
    --background-normal-white: #fff;
    --background-grey: #F5F8FB;
    --text-dark: #0F172A;
    --text-grey: #454545;
    --text-white: #fff;
    --primary-blue: #2563EB;
    --secondary-blue: #38BDF8;
    --background-blue: #87CEFA;
    --footer-background: #F5F8FB;
    --heading-font: "Poppins", sans-serif;
    --text-font: "Inter", sans-serif;
    --transition-main: 0.4s;
    --transition-secondary: 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

h2 {
    font-size: 3rem;
    padding-top: 15px;
}

body {
    font-family: var(--text-font);
    padding-top: 70px;
    position: relative;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Reusable elemets */
.underline {
    width: 100px;
    height: 5px;
    margin: 6px 0;
    background-color: var(--primary-blue);
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.fade-up {
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp ease forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Alert */
.alert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.all-contentA {
    background: var(--background-normal-white);
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.alert>.all-contentA>.titleA {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-dark);
}

.alert>.all-contentA>.contentA {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-grey);
}

.alert>.all-contentA>.contentA>.confirmABtn {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: var(--background-blue);
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--text-white);
}


/* Navbar */
nav {
    background-color: var(--background-normal-white);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.3rem;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 9999;
    transition: var(--transition-main);
}


.navbar-links>li>a {
    color: var(--text-grey);
}

nav>p:hover>a,
.navbar-links>li:hover>a {
    color: var(--primary-blue);
    cursor: pointer;
}

.navbar-links {
    display: flex;
    gap: 3rem;
}

nav>p>a {
    font-family: var(--heading-font);
    color: var(--text-dark);
    font-size: 2rem;
}

.hamburger {
    display: none;
    cursor: pointer;
    width: 34px;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    margin: 6px 0;
    transition: var(--transition-main);
    background-color: var(--primary-blue);
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

@media (max-width: 768px) {
    nav {
        flex-wrap: wrap;
    }

    .hamburger {
        display: inline-block;
        flex-wrap: wrap;
    }

    .navbar-links {
        display: none;
        flex-basis: 100%;
        flex-wrap: wrap;
    }

    .navbar-links li {
        flex-basis: 100%;
    }

    .navbar-links a {
        text-align: center;
    }
}

/* Heading */
header {
    display: grid;
    position: relative;
    min-height: calc(100vh - 71px);
    grid-template-columns: 50% 50%;
    background-color: var(--background-white);
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--background-blue);
}

.header-text>p {
    color: var(--text-grey);
    font-size: 1.3rem;
    transition: var(--transition-secondary);
}

.header-text>h1 {
    color: var(--text-dark);
    font-size: 5rem;
    transition: var(--transition-main);
}

.btn-container-header {
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    transition: var(--transition-secondary);
}

.btn-to-portfolio {
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--primary-blue);
    font-weight: bold;
}

.btn-to-portfolio:hover {
    cursor: pointer;
    background-color: var(--secondary-blue);
    transition: var(--transition-main);
}

.btn-to-portfolio:hover {
    color: var(--text-dark);
}

.btn-to-portfolio {
    color: var(--text-white);
}

.btn-to-contact {
    background-color: var(--background-white);
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 15px;
    font-weight: bold;
    border: solid var(--primary-blue);
}

.btn-to-contact {
    color: var(--text-dark);
}

.btn-to-contact:hover {
    cursor: pointer;
    border: 4px solid var(--secondary-blue);
    transition: var(--transition-main);
}

.header-img {
    width: 100%;
    height: calc(100vh - 71px);
    object-fit: cover;
    object-position: center;
}

@media (max-width: 768px) {
    header {
        grid-template-columns: 100%;
    }

    .header-text {
        height: calc(100vh - 71px);
        align-items: center;
    }

    .btn-container-header {
        width: 50%;
    }

    .btn-to-portfolio,
    .btn-to-contact {
        margin-top: 10px;
    }

    .header-img {
        height: 90vh;
    }
}

@media (max-width: 600px) {
    .btn-container-header {
        flex-direction: column;
    }
}

/* O mne */
.omne-container {
    text-align: center;
    background-color: var(--background-white);
    width: 100%;
    height: auto;
    padding-bottom: 60px;
    z-index: 9999;
}

.omne-content-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.omne-text {
    padding: 40px;
}

.omne-text-1 {
    text-align: start;
    padding: 30px;
    color: var(--text-grey);
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
}

.omne-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.omne-card {
    display: flex;
    max-width: 550px;
    height: auto;
    background-color: var(--background-normal-white);
    padding: 20px;
    margin-top: 10px;
    align-items: center;
    border: solid 2px var(--primary-blue);
    border-radius: 15px;
}

.omne-card:hover {
    border: solid 2px var(--secondary-blue);
    padding: 25px;
    transition: var(--transition-secondary);
    cursor: pointer;
}

.omne-card-content {
    text-align: start;
    margin-left: 10px;
}

.omne-card-content>h3 {
    font-size: 1.2rem;
}

.omne-card-content>p {
    color: var(--text-grey);
    font-size: 1.1rem;
}

@media (max-width: 1200px) {
    .omne-content-container {
        width: 100%;
    }

    .omne-text-1 {
        padding: 0;
        padding-top: 30px;
    }
}

@media (max-width: 768px) {
    .omne-content-container {
        grid-template-columns: 100%;
    }

    .omne-cards {
        align-items: center;
    }

    .omne-card {
        width: 90%;
    }
}

/* Portfolio */
.portfolio-container {
    text-align: center;
    height: auto;
    background-color: var(--background-white);
}

.portfolio-container>p {
    color: var(--text-grey);
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

.portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-card {
    max-width: 300px;
    width: fit-content;
    margin: 30px;
    border-radius: 21px;
    background-color: var(--background-normal-white);
    text-align: start;
}

.portfolio-card:hover {
    border: solid 2px var(--secondary-blue);
    border-radius: 21px;
    transition: var(--transition-main);
    cursor: pointer;
    transition: var(--transition-secondary);
}

.portfolio-card:hover>.portfolio-card-content {
    padding: 7px;
    transition: var(--transition-main);
}

.portfolio-card>img {
    border-radius: 20px;
}

.portfolio-card-content {
    padding: 5px;
}

.portfolio-card-content>h3 {
    font-size: 1.5rem;
    color: var(--text-dark);
}

.portfolio-card-content>p {
    color: var(--text-grey);
    font-size: 1.2rem;
    margin-top: 5px;
}

.stack-container {
    margin-top: 10px;
}

.stack {
    margin: 5px;
    padding: 5px;
    background-color: var(--background-blue);
    width: fit-content;
    border-radius: 15px;
    color: var(--primary-blue);
    font-size: 0.9rem;
}

.portfolio-card-link-container {
    display: flex;
    gap: 10px;
    margin: 10px;
}

.portfolio-link {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--text-grey);
    transition: var(--transition-secondary);
}

.portfolio-link:hover {
    color: var(--primary-blue);
}

@media (max-width: 768px) {
    .portfolio-container {
        padding-top: var(--omne-height);
    }
}

/* Kontakt */
.contact {
    text-align: center;
    background-color: var(--background-white);
    padding-bottom: 20px;
}

.contact>h2 {
    color: var(--text-dark);
}

.contact>p {
    color: var(--text-grey);
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

.contact-content-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.contact-content-info>h3,
.contact-form>h3 {
    color: var(--text-dark);
    font-size: 1.5rem;
}

.contact-card {
    display: flex;
    margin: 15px;
    padding: 20px;
    background-color: var(--background-normal-white);
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-radius: 20px;
    border: 2px solid var(--primary-blue);
}

.contact-card:hover {
    border: 2px solid var(--secondary-blue);
    transition: var(--transition-secondary);
}

.contact-card-content {
    text-align: start;
    margin-left: 20px;
    padding-right: 100px;
}

.contact-card-title {
    color: var(--text-grey);
    font-size: 1.2rem;
    margin-bottom: 2px;
}

.contact-card-info-text {
    color: var(--text-dark);
    font-size: 1.3rem;
}

.contact-form {
    width: 500px;
    height: fit-content;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 20px;
    height: fit-content;
    background-color: var(--background-normal-white);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.contact-form>h3 {
    margin-bottom: 20px;
    color: var(--text-dark);
}

.contact-form>form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
}

.contact-form>form>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
}

.contact-form>form>div>label {
    color: var(--text-grey);
    font-size: 1.1rem;
    margin-left: 5px;
}

.contact-form>form>div>input,
.contact-form>form>div>textarea {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1.5px solid var(--primary-blue);
    outline: none;
    padding: 5px;
}

.contact-form>form>div>input:focus,
.contact-form>form>div>textarea:focus {
    border: 1.5px solid var(--secondary-blue);
}

.contact-form>form>div>input::placeholder,
.contact-form>form>div>textarea::placeholder {
    color: var(--text-grey);
    font-family: var(--text-font);
    font-size: 1.05rem;
}

.contact-form>form>div>input:not(:placeholder-shown),
.contact-form>form>div>textarea:not(:placeholder-shown) {
    color: var(--text-dark);
    font-size: 1.1rem;
    background-color: #E8F0FE;
}

.contact-form input.touched:valid,
.contact-form textarea.touched:not(:placeholder-shown) {
    background-color: #E8F0FE;
}

.contact-form input.touched:invalid {
    background-color: #fff0f0;
    border-color: #ef4444;
}

.contact-form>form>div>textarea {
    width: 100%;
    height: 150px;
    resize: none;
}

.contact-form>form>div>textarea {
    padding: 10px;
}

.contact-form>form>button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: #D3D3D3;
    border: 1px solid #D3D3D3;
    color: var(--text-white);
    font-size: 1.3rem;
    font-weight: bold;
}

.contact-form>form:valid>button {
    background-color: var(--primary-blue);
    border: 1px solid var(--primary-blue);
    cursor: pointer;
}

@media (max-width: 850px) {
    .contact-content-container {
        grid-template-columns: 100%;
    }

    .contact-card {
        width: 90%;
    }

    .contact-card-content {
        padding-right: 50px;
    }

    .contact-form {
        margin-top: 20px;
        width: 90%;
    }
}

@media (max-width: 450px) {
    .contact-card {
        width: 90%;
    }

    .contact-form {
        width: 90%;
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* Footer */
footer {
    background-color: var(--background-grey);
}

.footer-content {
    display: flex;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding: 15px;
}

.footer-content-text>h3 {
    font-size: 1.5rem;
    color: var(--text-dark);
}

.footer-content-text>p {
    color: var(--text-grey);
    margin-top: 5px;
    font-size: 1.1rem;
}

.footer-content-icons>a {
    padding: 5px;
}

.footer-content-icons>a>svg>rect {
    fill: var(--background-normal-white);
}

.footer-content-icons>a:hover>svg>rect {
    fill: var(--background-blue);
    transition: var(--transition-secondary);
}

.footer-oficials {
    text-align: center;
    padding: 10px;
    font-size: 1.15rem;
    color: var(--text-grey);
}

.footer-oficials>a{
    color: var(--text-grey);
}

.footer-oficials>a:hover{
    color: var(--secondary-blue);
    text-decoration: underline;
    transition: var(--transition-secondary);
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-content-text {
        text-align: center;
    }

    .footer-content-icons {
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
    }
}